[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = "==1.41.0"
flask = "==3.0.0"
flask-cors = "==4.0.0"

[dev-packages]

[requires]
python_version = "3.10"
