/* styles.css */

/* General styles */

body {
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

button {
background-color: #fff; /* White button background color */
color: #3498db; /* Blue button text color */
padding: 10px 20px;
margin: 5px;
cursor: pointer;
border: none;
border-radius: 5px;
transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

button:hover {
    background-color: #3498db; /* Blue button background color on hover */
    color: #fff; /* White button text color on hover */
}

#output-block {
    background-color: #fff; /* White background color for the output block */
    color: #3498db; /* Blue text color for the output block */
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the output block */
}
.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #fff; /* White text color */
}
